@keyframes fadeIn {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes slideMessageRow {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
