.main-header {
  display: flex;
  justify-content: space-between;
  margin: var(--main-margin);
}

.main-header__column {
  display: flex;
  align-items: center;
}

.main-header__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: var(--main-margin);
}

.main-header__title {
  font-size: 20px;
}

.main-header__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--main-margin);
}
